# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Executables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Testing
*.test

# Build system directories
vendor/
bin/

# Dependency directories
Godeps/
vendor/

# IDE files
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp
*.swp

# Validation dump files
dump*.txt

# Database
*.xlsx

# Log files
logs/

.env
.neon